<!DOCTYPE html>
<html lang="pt-br" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="css/response.css">

<script src="https://kit.fontawesome.com/006642858d.js"></script>


<title>Projeto Academy Login</title>
</head>
<body>

      <div class="login-form">
         <div class="container">
            <div class="main-div">
                 <div class="texto-header" >
                     <h2>Admin Login</h2>
                     <p>Insira suas crendencias para efetuar login no sistema</p>
                     <form  method="post">
                         <div  class="form-group">
                            <input  class="form-control"  placeholder="username" >                                                 
                         </div>
                         <div  class="form-group">
                            <input  class="form-control"  placeholder="Insira sua senha" >                                                 
                         </div>
                         
                         <div class="cadastro">
                             <a href="#">Não tem cadastro? Clique aqui.</a>
                         </div>
                         <button type="submit"  class="btn  btn-primary">Login</button>
                         <button type="button" class="btn btn-info" >Voltar</button>
                     </form>
                 </div>
            
            </div>
         </div>
      </div>


</body>
</html>