<!DOCTYPE html>
<html lang="pt-br" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/response.css">

<script src="https://kit.fontawesome.com/006642858d.js"></script>


<title>Projeto Academy</title>
</head>
<body>

		<div th:replace="fragmentos/header :: header"></div>

		<section class="neo-section" style="background-image: url('img/bg.jpg');">
				<div class="sombra"></div>
				<div class="center neo-container">
						<div class="texto-main">
								<h1 class="texto-centro">Sistema de gerencimanto de alunos</h1>
						</div>

						<div class="botoes">
								<div class="wm">
										<h5 class="btn">Cadastrar Aluno</h5>

								</div>

								<div class="wm">
										<h5 class="btn  justify-content-center">Encontrar Aluno</h5>
								</div>

								<div class="clear"></div>
						</div>
				</div>
		</section>

		<!--Inicio Modal -->
		<div class="modal fade" id="modalPesquisa">
				<div class="modal-dialog modal-lg">
						<div class="modal-content">
						<!-- header/body/footer  -->
						 <div class="modal-header">
						     <h5 class="modal-title">Encocntre Aluno</h5>
						     <button type="button" class="close"  data-dismiss="modal">
						        <span>&times:</span>
						     
						     </button>
						 </div>
								<form action="pesquisar-aluno"  method="post" th:object="${alunoHomeOBJ}">
										<div class="modal-body">
												<input type="text" th:field="*{nome}" class="form-control">
										</div>
										<div class="modal-footer">
												<button class="btn btn-danger" data-dismiss="modal">Fechar</button>
                                                <button type="submit"  class="btn btn-success">Pesquisar</button>
										</div>

								</form>

						</div>
				</div>
		</div>

		<div th:replace="fragmentos/rodape :: rodape"></div>

		<script src="/webjars/jquery/jquery.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>