<!DOCTYPE html>
<html lang="pt-br" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/response.css">


<title>Projeto Academy</title>
</head>
<bod>
<div th:replace="fragmentos/header :: header"></div>

  <div class="container" th:fragment="cabecalho">
  
  <h3>Ultimos alunos Adicionados</h3>

		<table class="table table-bordered table-hover">
				<thead>
						<th scope="col">Nome</th>
						<th scope="col">Curso</th>
						<th scope="col">Matricula</th>
						<th scope="col">status</th>
						<th scope="col" >Turno</th>  
						<th scope="col" >Opções</th>
						
				</thead>
				<tbody>
						<tr scope="row" th:each="alunos :${alunosAtivosOBJ}" >
                           <td th:text="${alunos.nome}"></td> 
                           <td th:text="${alunos.curso}"></td> 
                           <td th:text="${alunos.matricula}"></td> 
                           <td th:text="${alunos.status}"></td> 
                           <td th:text="${alunos.turno}"></td> 
                           <td>
                             <a class="btn btn-primary" th:href="@{alterar/{id}(id=${alunos.id})}"><i class="fas fa-edit">Editar</i> </a>  
                             <a class="btn btn-danger" th:href="@{excluir/{id}(id=${alunos.id})}"><i class="fas fa-edit">Excluir</i> </a>   
                           </td>
						</tr>
				</tbody>
		</table>





</div>





<script src="/webjars/jquery/jquery.min.js"></script> 
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>